body {
    background-color: #dee9ff!important;
}
.registrations-form {
    padding: 100px 0;
}
.registrations-form form {
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}
.registrations-form .form-icon {
    /*text-align: center;*/
    background-color: #b08bf8;;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto auto 50px;
    line-height: 100px;
}
.registrations-form .item {
    /*border-radius: 20px;*/
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    margin-bottom: 25px;
    padding: 10px 10px;
    border-color: #b08bf8;
}
.registrations-form .create-account {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #b08bf8;;
    border: none;
    color: white;
    width: auto;
    margin-top: 20px;
    cursor: pointer;
}
.registrations-form .create-account:hover {
    color: #dee9ff;
}
.text-muted {
    color: #6c757d !important;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.form-control{
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}
.input:focus {
    border-color: #65beaf;
}
.input-group{
    margin-top: -20px;
}


