<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
<div class="registrations-form">
    <form th:action="@{/parse}" method="post">
            <div class="input-group" style="align-items: baseline;">
            <input type="url"  class="form-control item" pattern="http(s?)(:\/\/)((www.)?" name="link" id="floatingInput" required placeholder="link">
            <label for="floatingInput"></label>
            <button type="submit" class="btn btn-block create-account">parse</button>
        </div>
    </form>
</div>
</body>
</html>